.conteiner {
height: 100vh;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
background: linear-gradient(#da0724, #00d4ff)
}

.title{
    font-size:  85px;
    color: #fff;
    animation:  flipTitle 2s;
}

@keyframes flipTitle {
    from{ 
        transform: rotateY(90deg);
    }
     top{
        transform: rotateY(0deg);
     }

}

.conteinerInput{
    background-color: rgba(255, 9, 36, 25);
    padding: 15px;
    margin:  34px 0;
    display: flex;
    border-radius: 8px;
    box-shadow:  1px 3px 8px rgba(0,0,0, 0.5);
}

.conteinerInput input{ 
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: #fff;
    outline: none;
    margin-right: 8px;
}

.conteinerInput input::placeholder{
    color: #fff;
}

.buttonSearch{ 
    background-color: transparent;
    border: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}